<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ghost_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,39}</string>
                <key>spriteSourceSize</key>
                <string>{52,39}</string>
                <key>textureRect</key>
                <string>{{45,181},{52,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,64}</string>
                <key>spriteSourceSize</key>
                <string>{55,64}</string>
                <key>textureRect</key>
                <string>{{0,525},{55,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,64}</string>
                <key>spriteSourceSize</key>
                <string>{63,64}</string>
                <key>textureRect</key>
                <string>{{55,525},{63,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,48}</string>
                <key>spriteSourceSize</key>
                <string>{36,48}</string>
                <key>textureRect</key>
                <string>{{35,132},{36,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,49}</string>
                <key>spriteSourceSize</key>
                <string>{35,49}</string>
                <key>textureRect</key>
                <string>{{0,132},{35,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,49}</string>
                <key>spriteSourceSize</key>
                <string>{35,49}</string>
                <key>textureRect</key>
                <string>{{75,83},{35,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,49}</string>
                <key>spriteSourceSize</key>
                <string>{35,49}</string>
                <key>textureRect</key>
                <string>{{40,83},{35,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,41}</string>
                <key>spriteSourceSize</key>
                <string>{45,41}</string>
                <key>textureRect</key>
                <string>{{71,132},{45,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,43}</string>
                <key>spriteSourceSize</key>
                <string>{37,43}</string>
                <key>textureRect</key>
                <string>{{48,40},{37,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,48}</string>
                <key>spriteSourceSize</key>
                <string>{53,48}</string>
                <key>textureRect</key>
                <string>{{58,261},{53,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{0,417},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,52}</string>
                <key>spriteSourceSize</key>
                <string>{51,52}</string>
                <key>textureRect</key>
                <string>{{0,365},{51,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,52}</string>
                <key>spriteSourceSize</key>
                <string>{57,52}</string>
                <key>textureRect</key>
                <string>{{57,473},{57,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,52}</string>
                <key>spriteSourceSize</key>
                <string>{57,52}</string>
                <key>textureRect</key>
                <string>{{0,473},{57,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,56}</string>
                <key>spriteSourceSize</key>
                <string>{52,56}</string>
                <key>textureRect</key>
                <string>{{64,417},{52,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,56}</string>
                <key>spriteSourceSize</key>
                <string>{46,56}</string>
                <key>textureRect</key>
                <string>{{46,309},{46,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,56}</string>
                <key>spriteSourceSize</key>
                <string>{46,56}</string>
                <key>textureRect</key>
                <string>{{0,309},{46,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,46}</string>
                <key>spriteSourceSize</key>
                <string>{60,46}</string>
                <key>textureRect</key>
                <string>{{51,365},{60,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,39}</string>
                <key>spriteSourceSize</key>
                <string>{58,39}</string>
                <key>textureRect</key>
                <string>{{56,222},{58,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,41}</string>
                <key>spriteSourceSize</key>
                <string>{58,41}</string>
                <key>textureRect</key>
                <string>{{0,261},{58,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,39}</string>
                <key>spriteSourceSize</key>
                <string>{56,39}</string>
                <key>textureRect</key>
                <string>{{0,222},{56,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,40}</string>
                <key>spriteSourceSize</key>
                <string>{39,40}</string>
                <key>textureRect</key>
                <string>{{42,0},{39,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,41}</string>
                <key>spriteSourceSize</key>
                <string>{40,41}</string>
                <key>textureRect</key>
                <string>{{0,83},{40,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,41}</string>
                <key>spriteSourceSize</key>
                <string>{45,41}</string>
                <key>textureRect</key>
                <string>{{0,181},{45,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,34}</string>
                <key>spriteSourceSize</key>
                <string>{42,34}</string>
                <key>textureRect</key>
                <string>{{0,0},{42,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,33}</string>
                <key>spriteSourceSize</key>
                <string>{48,33}</string>
                <key>textureRect</key>
                <string>{{0,40},{48,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ghost.png</string>
            <key>size</key>
            <string>{118,589}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d25874f166aeac596cc29ad473ece5b6:fc2ac3171e30f66742a80f9a748df9e2:8538abdcbd4db339f06a581573008863$</string>
            <key>textureFileName</key>
            <string>ghost.png</string>
        </dict>
    </dict>
</plist>
