<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ym1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,282}</string>
                <key>spriteSourceSize</key>
                <string>{282,282}</string>
                <key>textureRect</key>
                <string>{{0,0},{282,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ym2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,282}</string>
                <key>spriteSourceSize</key>
                <string>{281,282}</string>
                <key>textureRect</key>
                <string>{{0,282},{281,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ym3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,293}</string>
                <key>spriteSourceSize</key>
                <string>{293,293}</string>
                <key>textureRect</key>
                <string>{{0,564},{293,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ym4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,293}</string>
                <key>spriteSourceSize</key>
                <string>{293,293}</string>
                <key>textureRect</key>
                <string>{{0,857},{293,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ym5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,293}</string>
                <key>spriteSourceSize</key>
                <string>{293,293}</string>
                <key>textureRect</key>
                <string>{{0,1150},{293,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ym6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,294}</string>
                <key>spriteSourceSize</key>
                <string>{293,294}</string>
                <key>textureRect</key>
                <string>{{0,1443},{293,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ym.png</string>
            <key>size</key>
            <string>{293,1737}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b8152e57aa3d717dfd7597fc6df4554:4f9dc6a54212281cf8d31de1a6f692c0:73183ed3802d199b297af0c26d4f2dc9$</string>
            <key>textureFileName</key>
            <string>ym.png</string>
        </dict>
    </dict>
</plist>
