<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>starCollect_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,100}</string>
                <key>spriteSourceSize</key>
                <string>{105,100}</string>
                <key>textureRect</key>
                <string>{{0,0},{105,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starCollect_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,100}</string>
                <key>spriteSourceSize</key>
                <string>{94,100}</string>
                <key>textureRect</key>
                <string>{{105,0},{94,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starCollect_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,100}</string>
                <key>spriteSourceSize</key>
                <string>{74,100}</string>
                <key>textureRect</key>
                <string>{{199,0},{74,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starCollect_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,100}</string>
                <key>spriteSourceSize</key>
                <string>{31,100}</string>
                <key>textureRect</key>
                <string>{{273,0},{31,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starCollect_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,100}</string>
                <key>spriteSourceSize</key>
                <string>{74,100}</string>
                <key>textureRect</key>
                <string>{{304,0},{74,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starCollect_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,100}</string>
                <key>spriteSourceSize</key>
                <string>{94,100}</string>
                <key>textureRect</key>
                <string>{{378,0},{94,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starCollect_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,100}</string>
                <key>spriteSourceSize</key>
                <string>{105,100}</string>
                <key>textureRect</key>
                <string>{{472,0},{105,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>starCollect.png</string>
            <key>size</key>
            <string>{577,100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c663e1b67bb1e16cad4927e2f4390f67:5df078950f2ff459e01028a2d50ab1a5:54b69c2b68616da65cafe2c6dfd29a53$</string>
            <key>textureFileName</key>
            <string>starCollect.png</string>
        </dict>
    </dict>
</plist>
