<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game-star_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,199}</string>
                <key>spriteSourceSize</key>
                <string>{210,199}</string>
                <key>textureRect</key>
                <string>{{0,0},{210,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game-star_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,199}</string>
                <key>spriteSourceSize</key>
                <string>{186,199}</string>
                <key>textureRect</key>
                <string>{{210,0},{186,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game-star_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,199}</string>
                <key>spriteSourceSize</key>
                <string>{148,199}</string>
                <key>textureRect</key>
                <string>{{396,0},{148,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game-star_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,199}</string>
                <key>spriteSourceSize</key>
                <string>{62,199}</string>
                <key>textureRect</key>
                <string>{{544,0},{62,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game-star_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,199}</string>
                <key>spriteSourceSize</key>
                <string>{148,199}</string>
                <key>textureRect</key>
                <string>{{606,0},{148,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game-star_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,199}</string>
                <key>spriteSourceSize</key>
                <string>{188,199}</string>
                <key>textureRect</key>
                <string>{{754,0},{188,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game-star_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,199}</string>
                <key>spriteSourceSize</key>
                <string>{208,199}</string>
                <key>textureRect</key>
                <string>{{942,0},{208,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>star.png</string>
            <key>size</key>
            <string>{1150,199}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cbcc0c7bf1092d74dd887e8734232c10:294013a8090e32a0790e66b41513ba0f:3529feb3fcfae6daa554c62bd8c6844e$</string>
            <key>textureFileName</key>
            <string>star.png</string>
        </dict>
    </dict>
</plist>
